{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current"
        }
      }
    ]
  ],
  "plugins": [
        ["@babel/transform-runtime"]
    ],
  "retainLines": true,
  "sourceMaps": true
}